* {
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #ffffff;
    font-family: 'Arial Black', sans-serif;
    color: #000000;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header {
    padding: 46px 0px;
  }
  
  .header .container {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    max-width: 129px;
    vertical-align: bottom;
  }
  
  .menu {
    margin-left: 177px;
    margin-right: auto;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
    gap: 65px;
  }
  
  .menu ul a {
    font-size: 14px;
    color: #212121;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .menu ul a:hover {
    color: #f8ff23;
  }
  
  .phone {
    font-size: 14px;
    font-weight: bold;
    color: #212121;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 0;
  }
  
  .window-man {
    position: absolute;
    width: 500px;
    top: 0px;
    right: -100px;
    z-index: 2;
  }
  
  .main-content {
    padding-bottom: 100px;
  }
  
  .main-content .container {
    position: relative;
  }
  
  .main-info {
    max-width: 1000px;
    padding-top: 100px;
  }
  
  .main-info h1 {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 250px;
    font-weight: normal;
    color: #001588;
  }
  
  .main {
    position: relative;
    overflow: hidden; /* чтобы спрятать правую часть машины*/
  }
  
  .main-image {
    position: absolute;
    width: 2000px;
    height: 280px;
    top: 100px;
    right: -500px;
    z-index: 1;
    opacity: 80%;
    padding-top: 100px;
  }
  
  .gray-block {
    position: absolute;
    width: 477px;
    height: 914px;
    top: 0;
    background-color: #d4d4d4;
    z-index: -2;
    right: calc(50% - 780px);
  }
  
  .button {
    font-size: 24px;
    background-color: #bb001d;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    width: 344px;
    height: 69px;
    padding: 20px 35px;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    display: block;
    border: 0;
  }
  
  .button:hover:not(:disabled) {
    background-color: #880015;
  }
  
  .button:disabled {
    cursor: not-allowed;
    color: gray;
    background-color: #343434;
  }
  
  .button.white-button {
    background-color: #ffffff;
    color: gray;
  }
  
  .button.white-button:hover {
    background-color: #bb001d;
    color: white;
  }
  
  .windows {
    background-color: #d4d4d4;
    padding: 130px 0;
  }
  
  .windows h2 {
    font-size: 65px;
    font-weight: normal;
  }
  
  .windows-content {
    display: flex;
    padding-top: 60px;
  }
  
  .windows-filter {
    margin-right: 77px;
  }
  
  .windows-filter ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-self: flex-start;
    position: sticky;
    top: 20px;
  }
  
  .windows-filter ul li {
    width: 160px;
    padding: 16px;
    text-align: center;
    border: 3px solid #ffffff;
    font-size: 16px;
    border-radius: 15px;
    color: #ffffff;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
  }
  
  .windows-filter ul li.active,
  .windows-filter ul li:hover {
    color: #ee0025;
    border-color: #ee0025;
  }
  
  .windows-items {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  
  .window {
    background-color: #212121;
    padding: 20px;
    display: flex;
  }
  
  .window img {
    max-height: 600px;
  }
  
  .window-details {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
  }
  
  .window-details h4 {
    font-size: 30px;
    line-height: 120%;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .window-details p {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: normal;
    color: #d4d4d4;
    height: 100px;
  }
  
  .window-action {
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }
  
  .window-action ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .window-period {
    font-size: 16px;
    line-height: 120%;
    color: #d4d4d4;
    margin-bottom: 5px;
  }
  
  .window-price {
    font-size: 24px;
    line-height: 120%;
    color: #ffffff;
  }
  
  .window-price span {
    font-size: 16px;
    line-height: 120%;
    color: #d4d4d4;
  }
  
  .window-action .button {
    width: 100%;
  }
  
  .order {
    padding-top: 0px;
    padding-bottom: 100px;
  }
  
  .order .container {
    position: relative;
  }
  
  .order img {
    position: absolute;
    max-height: 600px;
    left: -200px;
    top: 100px;
  }
  
  .order form {
    padding-top: 120px;
    margin-left: 714px;
    width: 700px;
  }
  
  .order h3 {
    font-size: 60px;
    color: #bb001d;
    line-height: 100%;
    font-weight: normal;
    margin-bottom: 40px;
  }
  
  .order p {
    font-size: 20px;
    color: #d4d4d4;
    line-height: 120%;
    font-weight: normal;
    margin-bottom: 60px;
    max-width: 500px;
  }
  
  .order-form {
    width: 344px;
  }
  
  ::placeholder {
    color: #d4d4d4;
  }
  
  .order-form input {
    width: 100%;
    height: 68px;
    padding: 24px 20px;
    box-sizing: border-box;
    color: #000000;
    border: 3px solid #d4d4d4;
    border-radius: 15px;
    background-color: transparent;
    margin-bottom: 15px;
    font-size: 16px;
    outline: none;
  }
  
  .order-form input.error {
    border-color: red;
  }
  
  .footer {
    border-top: 1px solid #d4d4d4;
    padding: 47px;
    box-sizing: border-box;
  }
  
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .rights {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 90%;
    font-weight: bold;
    text-transform: uppercase;
  }
